[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"



[dev-packages]

ipython = "*"
ipdb = "*"
pytest = "*"
"pytest-cov" = "*"
"pytest-django" = "*"
"flake8" = "*"
"pytest-pythonpath" = "*"
twine = "*"
wheel = "*"
sphinx = "*"
"sphinx-rtd-theme" = "*"